html, body {
  width: 100%;
  height: 100%;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.lt_container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* background-color: pink; */
  max-width: 640px;
  min-width: 320px;
  padding-top: 45px;
  position: relative;
}
.lt_header{
  height: 45px;
  width: 100%;
  background-color: #006699;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 45px;
  padding-right: 45px;
  
}
.lt_header .icon_left,
.lt_header .icon_right{
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  /* background-color: orange; */
  text-align: center;
  line-height: 45px;
  color: #fff;
}
.lt_header .icon_left{
  left: 0;
}
.lt_header .icon_right{
  right: 0;
}
.lt_header h3{
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 45px;
  margin: 0;
  font-weight: normal;
}
.lt_footer{
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #006699;
  z-index: 999;
}
.lt_footer li{
  float: left;
  width: 25%;
  text-align: center;
  
}
.lt_footer li a{
  display: block;
  color: #fff;
  padding-top: 8px;
}
.lt_footer li p{
  color: #fff;
}
.lt_footer li a.current {
  color: orange;
}
.lt_footer li a.current p {
  color: orange;
}
.lt_main {
  width: 100%;
  height: 100%;
  background-color: #ffff;
  position: relative;
}

.lt_product{
  padding: 10px;
  
}
.lt_product_item{
  padding: 10px;
  margin-bottom:10px;
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
}
.lt_product_item img{
 width: 130px;
 height: 130px;
 margin: 0 auto;

}
.lt_product_item a{
  display: block;
  width: 100%;
  height: 100%;
}
.lt_product_item .info{
 text-align: left;
 height: 40px;
}
.lt_product_item .price{
  color: red;
}
.lt_product_item .oldPrice{
  text-decoration: line-through;
}
.lt_product_item:nth-child(2n+1){
  margin-right: 4%;
}





/* 搜索 */
.lt_search{
  padding: 10px;
  position: relative;
}
.lt_search .search_btn{
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0 5px 5px 0;
}
.lt_search input{
  height: 34px;
  font-size: 12px;
  
  border: 1px solid #007AFF;
  border-radius: 5px;
}